.venv/
venv/
__pycache__/
*.pyc
*.log
*.tmp

airflow.db
airflow-webserver.pid
logs/

.DS_Store
.ipynb_checkpoints/

# Ignore all experiment outputs by default
artifacts/*

# Keep only final output for GitHub
!artifacts/final/
!artifacts/final/**

# Ignore temporary files
final_outputs/
GITHUB_UPLOAD_COMMANDS.txt
